@page "/world/{WorldId}"
@namespace FE3.Pages
@using System.Numerics
@using Ab4d.SharpEngine.Cameras
@using Ab4d.SharpEngine.Common
@using Ab4d.SharpEngine.Core
@using Ab4d.SharpEngine.Lights
@using Ab4d.SharpEngine.Materials
@using Ab4d.SharpEngine.SceneNodes
@using Ab4d.SharpEngine.Transformations
@using Ab4d.SharpEngine.Utilities
@using FE3.VoxelRenderer
@using FE3.VoxelRenderer.Utils
@using FE3.VoxelRenderer.VoxelWorld
@using Microsoft.AspNetCore.Components.Web
@using Colors = Ab4d.SharpEngine.Common.Colors
@inject FE3.Api.WorldApi WorldApi
@inject IJSRuntime JS


<div class="scene-host"
     @ref="_inputHost"
     tabindex="0"
     @onkeydown="OnKeyDown"
     @onkeyup="OnKeyUp"
     style="width:100%; height:100vh; overflow:hidden; outline:none;">
    <SharpEngineSceneView @ref="_view"
                          CanvasWidth="1600"
                          CanvasHeight="900"
                          style="width:100%; height:100%;" />
</div>