.fill-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-stack {
    width: 600px;
    max-width: 90%;
    text-align: center;
}

.world-input input {
    font-size: 1.5rem;
    padding: 1.25rem;
}

.generate-button {
    width: 100%;
    font-size: 1.4rem;
    padding: 1.25rem;
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.6);
    }
    70% {
        box-shadow: 0 0 0 25px rgba(98, 0, 238, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0);
    }
}
